@import 'colors';

body {
  font-family: 'Roboto', sans-serif;
}

header#page-header {
  color: $primary-color;
  background-color: $secondary-color;
  padding: 5px;
  border-bottom: 5px solid darken($secondary-color, 15%);
  h1 {
    text-align: center;
    text-transform: uppercase;
  }
}
footer#page-footer {
  color: $primary-color;
  background-color: $secondary-color;
  padding: 5px;
  border-top: 5px solid darken($secondary-color, 25%);
  text-align: center;
}
aside#sidebar {
  color: $secondary-color;
  background-color: $secondary-color;
  width: 200px;
}

.movieNum {
  color: $secondary-color;
  padding: 10px;
  margin-left: 10px;
}
