@import 'colors';

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(241, 93, 48);
}

header#page-header {
  color: $primary-color;
  background-color: rgb(67, 88, 122);
  padding: 5px;
  margin: -10px;
  border-bottom: 5px solid darken($secondary-color, 15%);
  h1 {
    text-align: center;
    text-transform: uppercase;
  }
}
footer#page-footer {
  color: $primary-color;
  background-color: darken($secondary-color, 25%);
  padding: 5px;
  border-top: 5px solid darken($secondary-color, 25%);
  text-align: center;
}
aside#sidebar {
  color: $secondary-color;
  background-color: $secondary-color;
  width: 200px;
}

.movieNum {
  color: rgb(253, 252, 252);
  padding: 10px;
  margin-left: 10px;
  text-align: center;
}
