// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';

article.movie {
  img {
    float: left;
    margin: 0 40px;
    border: 20px solid $secondary-color;
  }
}
