<aside id="page-sidebar">
<nav>
  <ul style="list-style-type:none;text-align: center;">
  <li class="all-movies">
  <%= link_to 'All Movies', movies_path, class: 'button' %>
</li>
<li class="create-movie">
  <%= link_to 'Add New Movie', new_movie_path, class: 'button' %>
</li>
  </ul>
</nav>
</aside>